@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.base {
  /* background: red; */
  display: inline-block;
  /* height: 55px; */
  /* margin-left: 20px; */
  /* margin-top: 55px; */
  position: relative;
  /* width: 200px; */
}
.base:before {
  border-bottom: 62px solid #73bee9;
  border-left: 144px solid transparent;
  border-right: 144px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -68px;
  width: 0;
}

.base-mini {
  /* background: red; */
  display: inline-block;
  /* height: 55px; */
  /* margin-left: 20px; */
  /* margin-top: 55px; */
  position: relative;
  /* width: 200px; */
}
.base-mini:before {
  border-bottom: 30px solid #73bee9;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}
